.container {
  margin-top: 50px;
}

.title {
  color: var(--softTextColor);
  margin-bottom: 30px;
}

.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.input {
  padding: 20px;
  width: 100%;
}

.button {
  padding: 16px 20px;
  background-color: var(--logoViolet);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comments {
  margin-top: 50px;
}

.comment {
  margin-bottom: 50px;
  border: 2px solid var(--softBg);
  border-radius: var(--buttonRadius);
  overflow: hidden;
}

.user {
  background-color: var(--softBg);
  padding: 0.5rem;
}

.desc {
  padding: 0.8rem 0.5rem;
  font-weight: 300;
  font-size: 18px;
}

.login {
  padding: 0.7rem;
  background-color: var(--logoViolet);
  color: white;
  width: max-content;
  border-radius: var(--buttonRadius);
}

@media screen and (max-width: 640px) {
  .desc {
    font-size: 13px;
  }
}
