@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Oswald:wght@400;500;600;700&display=swap');

/* GLOBAL CSS */
:root {
  --bg: #f5f5fa;
  --textColor: #352d39;
  --softBg: #f2f2f8;
  --softTextColor: #6a5a72;
  --logoPink: #ff51f3;
  --logoViolet: #8759f2;
  --mainFont: 'Lora', serif;
  --titleFont: 'Oswald', sans-serif;
  --radius: 0.8rem;
  --buttonRadius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--titleFont);
}
h4,
h5 {
  font-family: var(--mainFont);
}

p {
  font-family: var(--mainFont);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--mainFont);
}

/* DARKMODE */
.dark {
  --bg: #0f172a;
  --textColor: #f0e2e7;
  --softBg: #1f273a;
  --softTextColor: #f8f2f4;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 60px;
  padding-right: 60px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1236px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}

.ql-container {
  font-size: 28px;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: var(--softTextColor);
}
